.background1 {
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  background-image: url(./Image/bg2.jpg);
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
}

.header div {
  padding: 10px 10px;
}

a:hover {
  color: orange;
  border-bottom: 1px solid;
}

a {
  color: black;
  border-bottom: 1px dotted;
  text-decoration:none;
}

.title {
  color: orange;
}

.over-img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 50%;
}

.information {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.background2 {
  margin-left: 250px;
  margin-right: 250px;
  position: relative;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.self-intro {
  margin-top: 30px;
}

.row {
  margin-top: 30px;
}

.background3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 50%;
}

.carousel-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

#About {
  color: orange;
  border-bottom: 2px solid;

}

#Skill {
  color: orange;
  border-bottom: 2px solid;
}

#Experience {
  color: orange;
  border-bottom: 2px solid;
}

#carouselExampleIndicators {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  text-align: center;
}

@media (max-width:600px){
  .background1 {
    display: block;
    text-align: center;
    height:110px;
    margin-left: 10px;
    margin-right: 10px;

  }

  .background1 h1 {
    margin-top: 0px;
    font-size: 25px;
  }
  .background1 h2 {
    font-size: 15px;
  }

  .over-img{
    width:100px;
    height:100px;
    float: left;
    margin-left:10px;
  }

  .header{
    display: none;
  }

.self-intro {
    display: none;
  }

.background2 {
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  display: block;
  justify-content:space-around;
  }
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}
