
.background {
  padding:0;
  margin:0;
  position: relative;
  text-align: center;
  color: black;
  background-image:url(./bg2.jpg);
  height: 500px;
  background-repeat:repeat-x;
  background-size: cover;
}

.over-img {
  height: 250px;
  width: 250px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 50%;
}

.information{
  margin-left:auto;
  margin-right: auto;
}

.title {
  color: orange;
}


.job-title{
    font-style: italic;
  }
